
<nav class="">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="../../assets/SESS_black.png" alt="Logo" class="h-[40px] md:h-[64px] w-auto">
      </a>
      <button data-collapse-toggle="navbar-hamburger" type="button" class="md:hidden inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div class="hidden w-full md:flex md:w-auto md:space-x-4 md:flex-row md:text-xl font-gotham" id="navbar-hamburger">
        <ul class="flex flex-col font-normal mt-4 rounded-lg md:flex-row">
          <li>
            <a routerLinkActive="text-red-500" routerLink="/home" class="navigation-item">Home</a>
          </li>
          <li>
            <a routerLinkActive="text-red-500" routerLink="/about" class="navigation-item">About</a>
          </li>
          <li>
            <a routerLinkActive="text-red-500" routerLink="/events" class="navigation-item">Events</a>
          </li>
          <li>
            <a routerLinkActive="text-red-500" routerLink="/sec" class="navigation-item">SEC</a>
          </li>
          <!-- <li>
            <a routerLinkActive="text-red-500" routerLink="/resources" class="navigation-item">Resources</a>
          </li>
          <li>
            <a routerLinkActive="text-red-500" routerLink="/contact-us" class="navigation-item">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  