<p class="text-white text-center text-sm md:text-md">© 2024 All rights reserved.</p>
<div class="flex flex-col md:flex-row justify-between text-white items-center md:items-start">
    <div class="flex-row ">
        <!-- Address column -->
        <h2 class="font-normal text-sm my-1  md:text-lg md:my-2 ">Seneca Engineering Students' Society</h2>
        <div class="font-light text-[12px] text-center md:text-left md:text-sm">
            <p>Room K3281, Building K, Newnham Campus</p>
            <p>1750 Finch Ave. East</p>
            <p>Toronto, Ont. M2J 2X5</p>
        </div>
    </div>
    <div class="flex flex-col md:flex-col items-center md:items-start">
        <h2 class="font-normal text-sm my-1 md:text-lg md:my-2 mr-2">Social Media</h2>
        <div class="flex flex-row gap-3 md:gap-2 md:flex-col items-center md:items-start">
            <div class="flex items-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" alt="Instagram Icon" class="w-4 h-4 md:w-6 md:h-6">
                <a href="https://www.instagram.com/seneca.engsoc?igsh=MTBrZHk5eWVzMXFxdw%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer" class=" ml-1 md:ml-2 text-sm md:text-sm">{{"@Seneca.engsoc"}}</a>
            </div>
            <div class="flex items-center">
                <img src="https://static.vecteezy.com/system/resources/previews/023/986/704/non_2x/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png" alt="Instagram Icon" class="w-4 h-4 md:w-6 md:h-6">
                <a href="https://www.youtube.com/@SenecaEngSoc" target="_blank" rel="noopener noreferrer" class=" ml-1 md:ml-2 text-sm md:text-sm">{{"Seneca EngSoc"}}</a>
            </div>
        </div>
    </div>
</div>