 /* thin  */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamThin.otf');
    font-weight: 100;
    font-style: normal;
}

/* thin italic */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamThinItalic.otf');
    font-weight: 100;
    font-style: italic;
}

/* extra light */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamXLight.otf');
    font-weight: 200;
    font-style: normal;
}

/* extra light italic */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamXLightItalic.otf');
    font-weight: 200;
    font-style: italic;
}

/* light */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamLight.otf');
    font-weight: 300;
    font-style: normal;
}

/* light italic */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamLightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

 /* normal */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamBook.ttf');
    font-weight: 400;
    font-style: normal;
}

/* normal italic */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamBookItalic.otf');
    font-weight: 400;
    font-style: italic;
}


/* medium */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamMedium.ttf');
    font-weight: 500;
    font-style: normal;
}

/* medium italic */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamMediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}


/* bold */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamBold.otf');
    font-weight: 700;
    font-style: normal;
}

/* bold italic*/
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamBoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}


/* black  */
@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamBlack.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./assets/gotham-fonts/GothamUltraItalic.otf');
    font-weight: 900;
    font-style: italic;
}








