<div class="max-w-full">

  <section class="my-8 hidden">
    <h2 class="text-2xl text-left font-bold p-2 text-red-600 mb-0 font-gotham uppercase">Announcement</h2>
    <p class="p-2 text-lg font-light">NEM Event 2025 - 3D Printing Workshop is now open for registration. Click <a class="text-red-600" target="_blank" href="https://forms.gle/jMsmBtW16TTKPJET6">here</a> to register! </p>
    <div class="p-2 text-lg font-light">
      <p><span class="font-bold">Date</span>: March 13</p>
      <p><span class="font-bold">Time</span>: 3 PM - 6 PM</p>
    </div>
  </section>

<hr>

  <section class="grid md:grid-cols-2 grid-cols-1 max-w-full my-8 gap-6">
    <div class=>
      <h1 class="text-2xl font-bold p-2 font-gotham">Welcome to the Seneca Engineering Students' Society</h1>
      <p class="p-2 text-lg font-light">The Seneca Engineering Students' Society is an organization run by students, for students. Our aim is to provide you, a Seneca engineering student, with services, fun events, and much more! Want to know more? Click below for more information!</p>
      <div class="flex justify-start space-x-4 p-2">
        <button (click)="navigateAbout()" class="bg-red-600 hover:bg-red-700 text-white font-normal py-2 px-4 rounded">Learn More</button>
        <button (click)="navigateGetInvolved()" class="border-2 border-red-600 bg-transparent text-red-600 hover:border-red-700 hover:text-red-700 font-normal py-2 px-4 rounded">Get Involved</button>
      </div>
    </div>
    <div class="box-border">
      <img src="https://media.licdn.com/dms/image/D4E12AQEnNKiiNUKz9Q/article-cover_image-shrink_720_1280/0/1693476739453?e=2147483647&v=beta&t=vA7q5Jo23C2UXQE4FQ3lTlpB7ugmZa5QZzAfSQ5rQ-A" class="w-full md:w-auto rounded-lg" alt="Image description">
    </div>
  </section>
<hr>
  <section class="my-8 ">
        <h2 class="text-3xl text-center font-normal p-2 text-red-600 mb-4 font-gotham uppercase">Event Highlight</h2>
      <app-carousel></app-carousel>
  </section>

  <hr>

  <section class="my-8">
    <div class="flex flex-col items-center">
      <h2 class="text-3xl font-normal p-2 text-red-600 mb-4 font-gotham uppercase">Quick Access</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-center max-w-full">
        <a href="https://drive.google.com/drive/folders/149OlmU-RWrBar6sL1GhImYjdEbTd2B8g?usp=drive_link" target="_blank" rel="noopener noreferrer" class="bg-white rounded-lg shadow-sm p-6 cursor-pointer border-[1px] border-gray-100 hover:shadow-xl">
          <h3 class="text-lg font-light pb-3 text-red-600">Meeting Minutes</h3>
          <p class="text-gray-500">Want to know more about what is going on with the Engineering Society? Click here to access all the SESS Meeting Minutes!</p>
        </a>
        <a href="https://www.senecapolytechnic.ca/programs/fulltime/BSA.html" target="_blank" rel="noopener noreferrer" class="bg-white rounded-lg shadow-sm p-6 cursor-pointer border-[1px] border-gray-100 hover:shadow-xl">
          <h3 class="text-lg font-light pb-3 text-red-600">BSA Program</h3>
          <p class="text-gray-500">Want to know about the Bachelor of Engineering program at Seneca?  Click here to access the program courses and outcome!</p>
        </a>
        <a href="https://drive.google.com/drive/folders/1cTFdHpIoaNvG_FN2-mDE6-ZMNaE58Ajy?usp=drive_link" target="_blank" rel="noopener noreferrer" class="bg-white rounded-lg shadow-sm p-6 cursor-pointer border-[1px] border-gray-100 hover:shadow-xl">
          <h3 class="text-lg font-light pb-3 text-red-600">Photo Vault</h3>
          <p class="text-gray-500"> Looking for photos from past events? Check out our photo vault to relive memorable moments and see what we've been up to! </p>
        </a>
      </div>
    </div>
  </section>
</div>


